{% extends 'base.html' %}

{% load comments %}

{% block content %}
    {% for post in list_post %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title|safe }}</a></h2>
            <p>{{ post.body|safe }}</p>
            <p>{{ post.publication_date }}</p>
        </div>

        {% get_comment_count for post as comment_count %}
        <p class="date">Published {{ post.publish }}
          {% if comment_count %}
          &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
          {% endif %}
        </p>

    {% endfor %}

{% endblock content %}
